In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
def read_informe_csv (file, sep=',') :
    data = pd.read_csv(file, sep=sep)
    from IPython.display import display
    print 'Shape of data is : ', data.shape
    print '\nFeatures of data are : ', data.columns.values
    print '\nIndex of data is : ', data.index
    print '\nHead of data is : ' 
    display(data.head())
    print '\nTail of data is : '
    display(data.tail())
    return data

In [3]:
data = read_informe_csv('data.csv', sep=',')

Shape of data is :  (4920, 4)

Features of data are :  ['TIME' 'GEO' 'INDIC_ED' 'Value']

Index of data is :  RangeIndex(start=0, stop=4920, step=1)

Head of data is :

,TIME,GEO,INDIC_ED,Value
0,2002,European Union (27 countries),Total public expenditure on education as % of ...,5.10
1,2002,European Union (27 countries),Total public expenditure on education as % of ...,1.14
2,2002,European Union (27 countries),Total public expenditure on education as % of ...,2.32
3,2002,European Union (27 countries),Total public expenditure on education as % of ...,1.15
4,2002,European Union (27 countries),Total public expenditure on education as % of ...,0.50

Tail of data is :

      TIME    GEO                                           INDIC_ED Value
4915  2011  Japan  Total public expenditure on education as % of ...     :
4916  2011  Japan  Expenditure on educational institutions from p...     :
4917  2011  Japan  Public subsidies to the private sector as % of...     :
4918  2011  Japan  Expenditure on educational institutions from p...  1.56
4919  2011  Japan  Total public expenditure on education as % of ...  3.67

In [4]:
def type_of_features (data) :
    for feature in data.columns.values :
        print 'type of feature ', feature, ' is : ', data[feature].dtype

In [5]:
type_of_features(data)

type of feature  TIME  is :  int64
type of feature  GEO  is :  object
type of feature  INDIC_ED  is :  object
type of feature  Value  is :  object

In [6]:
def missing (data) :
    from IPython.display import display
    if data.notnull().all().all() :
            print 'No missing values !'
    else :
        for feature in data.columns.values :
            if data[feature].isnull().any() :
                print 'Feature ', feature, ' has missing values !\n'

In [7]:
data.drop('INDIC_ED', axis=1, inplace=True)

In [8]:
missing(data)

No missing values !

In [47]:
data = read_informe_csv('data_2.tsv', sep='\t')

Shape of data is :  (39, 13)

Features of data are :  ['indic_ed,unit,geo\\time' '2000 ' '2001 ' '2002 ' '2003 ' '2004 ' '2005 '
 '2006 ' '2007 ' '2008 ' '2009 ' '2010 ' '2011 ']

Index of data is :  RangeIndex(start=0, stop=39, step=1)

Head of data is :

,"indic_ed,unit,geo\time",2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,"FA01_1,CP_MPPS,AT",11457.0,11485.4,11920.4,11850.0,12355.6,12575.2,13286.5,13659.6,14157.6,14694.3,15283.8,15717.3
1,"FA01_1,CP_MPPS,BE",: u,15086.1 i,16116.6 d,15963.4 d,16267.0 d,16694.1 d,17565.0 d,18431.6 d,19903.9 d,19593.6 d,21074.5 d,21681.7 d
2,"FA01_1,CP_MPPS,BG",1715.8,1723.7,2002.8,2216.1,2551.4,2695.1,2801.5,2976.4,3672.4,3573.7,3328.1,3278.5
3,"FA01_1,CP_MPPS,CH",10279.8,10864.9,12006.7,12254.3,12408.3,12695.7,13173.9,13389.9,14177.3,14723.8,15334.1,16393.3
4,"FA01_1,CP_MPPS,CY",627.3 i,747.7 i,848.0 d,968.0 d,967.0 d,1070.0 d,1159.9 d,1254.1 d,1455.9 d,1512.5 d,1552.3 d,1573.4 d

Tail of data is :

,"indic_ed,unit,geo\time",2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
34,"FA01_1,CP_MPPS,SI",:,1848.8,1936.0,2002.9,2146.5,2249.2,2373.6,2297.2,2384.3,2348.7,2397.1,2469.7
35,"FA01_1,CP_MPPS,SK",2121.0 d,2221.6 d,2560.6 d,2653.1 d,2780.9 d,2803.1 d,3060.4 d,3306.0 d,3539.5,3775.6,4156.9,4140.0
36,"FA01_1,CP_MPPS,TR",14088.0 i,13060.7 i,13773.9 i,14706.2 i,18073.8 i,:,20860.1 i,:,:,:,:,40212.7
37,"FA01_1,CP_MPPS,UK",58270.0,61813.4,71820.8,75265.9,79208.4,85658.5,90296.8,91061.6 d,90945.8,92442.0,97363.0,96614.8
38,"FA01_1,CP_MPPS,US",415088.0,481996.5,489687.8,515030.6 d,514045.6 d,520494.1 d,573017.4 d,589839.7 d,599288.6 d,578501.8 d,595812.4 d,588019.2 d

In [44]:
def reindexing (data) :
    data['Geo'] = data.iloc[:, 0].str.slice(len('FA01_1,CP_MPPS,'), )
    geo = pd.Series(data['Geo'])
    data.drop(['indic_ed,unit,geo\\time', 'Geo'], axis=1, inplace=True)
    data.set_index(geo, inplace=True)
    data.sort_index(inplace=True)

In [48]:
reindexing(data)

In [49]:
data.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
Geo,,,,,,,,,,,,
AT,11457.0,11485.4,11920.4,11850.0,12355.6,12575.2,13286.5,13659.6,14157.6,14694.3,15283.8,15717.3
BE,: u,15086.1 i,16116.6 d,15963.4 d,16267.0 d,16694.1 d,17565.0 d,18431.6 d,19903.9 d,19593.6 d,21074.5 d,21681.7 d
BG,1715.8,1723.7,2002.8,2216.1,2551.4,2695.1,2801.5,2976.4,3672.4,3573.7,3328.1,3278.5
CH,10279.8,10864.9,12006.7,12254.3,12408.3,12695.7,13173.9,13389.9,14177.3,14723.8,15334.1,16393.3
CY,627.3 i,747.7 i,848.0 d,968.0 d,967.0 d,1070.0 d,1159.9 d,1254.1 d,1455.9 d,1512.5 d,1552.3 d,1573.4 d

In [53]:
data[data == ': u'] = np.nan