In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
def read_informe_csv (file, sep=',') :
    data = pd.read_csv(file, sep=sep)
    from IPython.display import display
    print 'Shape of data is : ', data.shape
    print '\nFeatures of data are : ', data.columns.values
    print '\nIndex of data is : ', data.index
    print '\nHead of data is : ' 
    display(data.head())
    print '\nTail of data is : '
    display(data.tail())
    return data

In [3]:
data = read_informe_csv('data.csv', sep=',')

Shape of data is :  (4920, 4)

Features of data are :  ['TIME' 'GEO' 'INDIC_ED' 'Value']

Index of data is :  RangeIndex(start=0, stop=4920, step=1)

Head of data is :

,TIME,GEO,INDIC_ED,Value
0,2002,European Union (27 countries),Total public expenditure on education as % of ...,5.10
1,2002,European Union (27 countries),Total public expenditure on education as % of ...,1.14
2,2002,European Union (27 countries),Total public expenditure on education as % of ...,2.32
3,2002,European Union (27 countries),Total public expenditure on education as % of ...,1.15
4,2002,European Union (27 countries),Total public expenditure on education as % of ...,0.50

Tail of data is :

      TIME    GEO                                           INDIC_ED Value
4915  2011  Japan  Total public expenditure on education as % of ...     :
4916  2011  Japan  Expenditure on educational institutions from p...     :
4917  2011  Japan  Public subsidies to the private sector as % of...     :
4918  2011  Japan  Expenditure on educational institutions from p...  1.56
4919  2011  Japan  Total public expenditure on education as % of ...  3.67

In [4]:
def type_of_features (data) :
    for feature in data.columns.values :
        print 'type of feature ', feature, ' is : ', data[feature].dtype

In [5]:
type_of_features(data)

type of feature  TIME  is :  int64
type of feature  GEO  is :  object
type of feature  INDIC_ED  is :  object
type of feature  Value  is :  object

In [6]:
def missing (data) :
    from IPython.display import display
    if data.notnull().all().all() :
            print 'No missing values !'
    else :
        for feature in data.columns.values :
            if data[feature].isnull().any() :
                print 'Feature ', feature, ' has missing values !\n'

In [7]:
data.drop('INDIC_ED', axis=1, inplace=True)

In [8]:
missing(data)

No missing values !